/* font imports */

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /* set to upper case */
    text-transform: uppercase;
}

.MuiTypography-root {
    font-family: 'Oswald', sans-serif !important;
}

.MuiButton-root
{
font-family: 'Oswald', sans-serif !important;
}